/* Header */
.skin-wazo .main-header .navbar, .main-header .logo, .skin-blue .main-header .logo:hover {
  background: #98c451;
}

.auth{
  background: linear-gradient(to bottom, #98c451, #509400);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth > .login{
  background: #fff;
  padding: 20px 5vw 70px !important;
  border-radius: 12px;
  box-shadow: 0px 10px 25px rgba(0,0,0, .3);
}

.auth .login .wazo-logo{
  margin: 0 auto;
}
.auth .login #form-group-input-language {
  padding: 20px 0 0;
}

/* Navbar */
img.logo-full-svg {
  padding-left: 60px;
}

.brand-link.navbar-brand {
  background-color: #98c451!important;
  width: 100%;
}

.main-header {
  background-color: #98c451!important;
}

.navbar-dark .navbar-nav .nav-link.disabled {
  color: white!important;
}

.hidden {
  display: none!important;
}

.user-panel .info {
  width: 100%;
}

/* data tables */
.dataTables_wrapper .row:last-child .dataTables_info, .dataTables_wrapper .row:last-child .dataTables_length {
  float: left
}

.dataTables_wrapper .row:last-child .dataTables_info {
  padding-top: 17px;
}

.dataTables_wrapper .row:last-child .dataTables_info::after {
  content: " - ";
}

.dataTables_wrapper .row:last-child .dataTables_length {
  padding: 16px 0 0 5px;
  height: 40px;
}

.dataTables_wrapper .row:last-child .select2-container--bootstrap {
  width: 56px!important;
  top: -2px;
}

.dynamic-table .select2-container {
  margin-top: 4px;
}

.dynamic-table .select2-selection.select2-selection--single {
  height: 26px !important;
}

.dataTables_wrapper .row:last-child .dataTables_paginate {
  padding-top: 8px;
  height: 40px;
}

table .btn-default, table .btn-default:hover, table .btn-default:active, table .btn-default.hover {
  background: white!important;
}

.dataTable tbody tr {
  cursor: pointer;
}

table.dataTable tbody tr td,
table.dataTable tbody tr.selected a,
table.dataTable tbody th.selected a,
table.dataTable tbody td.selected a {
  color: #111111;
}

.dataTable tbody tr.even:hover {
  background-color: #eeeeee;
}

.dataTable tbody tr.odd:hover {
  background-color: #dddddd;
}

.dataTable tbody tr.selected:hover {
  background-color: #00a1f2;
}
