/* Header */
.skin-wazo .main-header .navbar, .main-header .logo, .skin-blue .main-header .logo:hover {
  background: #98c451;
}

.auth{
  background: linear-gradient(to bottom, #98c451, #509400);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth > .login{
  background: #fff;
  padding: 20px 5vw 70px !important;
  border-radius: 12px;
  box-shadow: 0px 10px 25px rgba(0,0,0, .3);
}

.auth .login .wazo-logo{
  margin: 0 auto;
}
.auth .login #form-group-input-language {
  padding: 20px 0 0;
}

/* Navbar */
img.logo-full-svg {
  padding-left: 60px;
}

.brand-link.navbar-brand {
  background-color: #98c451!important;
  border-color: #98c451!important;
  width: 100%;
}

.btn-primary {
  background-color: #98c451!important;
  border-color: #98c451!important;
}

.card-primary.card-outline {
  border-top: 3px solid #98c451!important;
}

a {
  color: #98c451!important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #98c451!important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff!important;
}

.select2-container--bootstrap .select2-results__option--highlighted {
  background-color: #98c451!important;
}

.dynamic-table td .form-group {
  margin-bottom: 0;
}

.progress-bar.indeterminate {
  position: relative;
  animation: progress-indeterminate 2s linear infinite;
}

@keyframes progress-indeterminate {
   from { left: -25%; width: 25%; }
   to { left: 100%; width: 25%;}
}

table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected {
  background-color: rgb(232, 234, 246) !important;
}

table td button.delete-row-entry {
  margin: 6px 0 0 8px;
}

div.box-header {
  height: 40px;
}

.todo-list>li .tools a {
  margin-right: 7px;
}

/* Side menu */
.main-sidebar {
  box-shadow: rgba(0, 0, 0, 0.12) 2px 0 3px;
  background-color: rgb(245, 244, 245) !important;
}

.main-sidebar li a {
  color: black !important;
  transition: background-color 200ms linear;
}

.main-sidebar li a:hover, .main-sidebar li.active a, .sidebar-menu>li>.treeview-menu a, .sidebar-menu>li>.treeview-menu a:hover {
  background-color: #e8e8e8 !important;
  padding-left: 18px;
  border-left: none !important;
}

.skin-blue .sidebar-menu>li>.treeview-menu, li.menu-open:hover, .skin-blue .sidebar-menu>li:hover>a {
  background-color: #e8e8e8 !important;
  border-left-color: transparent;
}

.box.box-solid.box-primary>.box-header {
  background: #98c451 !important;
  background-color: #98c451 !important;
}

.box.box-solid.box-primary {
  border: 1px solid #98c451 !important;
}

.main-sidebar form {
  float: none!important;
}

.main-sidebar .label {
  font-size: 9px;
  text-align: center;
}

.main-sidebar form .form-group, .main-sidebar form .select2 {
  width: 100%;
}

.main-header {
  background-color: #98c451!important;
}

.navbar-dark .navbar-nav .nav-link.disabled {
  color: white!important;
}

.hidden {
  display: none!important;
}

.user-panel .info {
  width: 100%;
}

/* data tables */
.dataTables_wrapper .row:last-child .dataTables_info, .dataTables_wrapper .row:last-child .dataTables_length {
  float: left
}

.dataTables_wrapper .row:last-child .dataTables_info {
  padding-top: 17px;
}

.dataTables_wrapper .row:last-child .dataTables_info::after {
  content: " - ";
}

.dataTables_wrapper .row:last-child .dataTables_length {
  padding: 16px 0 0 5px;
  height: 40px;
}

.dataTables_wrapper .row:last-child .select2-container--bootstrap {
  width: 56px!important;
  top: -2px;
}

.dynamic-table .select2-container {
  margin-top: 4px;
}

.dynamic-table .select2-selection.select2-selection--single {
  height: 26px !important;
}

.dataTables_wrapper .row:last-child .dataTables_paginate {
  padding-top: 8px;
  height: 40px;
}

table .btn-default, table .btn-default:hover, table .btn-default:active, table .btn-default.hover {
  background: white!important;
}

.dataTable tbody tr {
  cursor: pointer;
}

table.dataTable tbody tr td,
table.dataTable tbody tr.selected a,
table.dataTable tbody th.selected a,
table.dataTable tbody td.selected a {
  color: #111111;
}

.dataTable tbody tr.even:hover {
  background-color: #eeeeee;
}

.dataTable tbody tr.odd:hover {
  background-color: #dddddd;
}

.dataTable tbody tr.selected:hover {
  background-color: #00a1f2;
}
