https://github.com/wazo-platform/wazo-lib-rest-client/archive/master.zip  # from wazo-*-client
https://github.com/wazo-platform/wazo-amid-client/archive/master.zip
https://github.com/wazo-platform/wazo-auth-client/archive/master.zip
https://github.com/wazo-platform/wazo-call-logd-client/archive/master.zip
https://github.com/wazo-platform/wazo-confd-client/archive/master.zip
https://github.com/wazo-platform/wazo-dird-client/archive/master.zip
https://github.com/wazo-platform/wazo-plugind-client/archive/master.zip
https://github.com/wazo-platform/wazo-provd-client/archive/master.zip
https://github.com/wazo-platform/wazo-webhookd-client/archive/master.zip
https://github.com/wazo-platform/xivo-lib-python/archive/master.zip
babel==2.6.0
cheroot==6.5.4
flask-babel==0.11.2
flask-classful==0.13.1
flask-login==0.4.1
flask-menu==0.7.2
flask-session==0.3.1
flask-sqlalchemy==2.1
flask-wtf==0.14.2
flask==1.0.2
itsdangerous==0.24
itsdangerous==0.24  # from flask
jinja2==2.10  # from flask
markupsafe==1.1.0 # from flask
pyyaml==3.13  # from xivo-lib-python
requests==2.21.0
sqlalchemy==1.2.18  # frozen to avoid flask-sqlalchemy conflict
stevedore==1.29.0
werkzeug==0.14.1
wtforms==2.2.1
