git+https://github.com/wazo-pbx/wazo-provd-client.git
git+https://github.com/wazo-pbx/wazo-plugind-client.git
git+https://github.com/wazo-pbx/wazo-dird-client.git
git+https://github.com/wazo-pbx/wazo-call-logd-client.git
git+https://github.com/wazo-pbx/wazo-confd-client.git
git+https://github.com/wazo-pbx/wazo-webhookd-client.git
git+https://github.com/wazo-pbx/xivo-amid-client.git
git+https://github.com/wazo-pbx/wazo-auth-client.git
git+https://github.com/wazo-pbx/xivo-lib-python.git
git+https://github.com/wazo-pbx/xivo-lib-rest-client.git  # from xivo-*-client
babel==2.3.4
cheroot==6.5.2
flask-babel==0.11.1
flask-classful==0.13.1
flask-login==0.4.1
flask-menu==0.7.0
flask-session==0.3.1
flask-wtf==0.14.2
flask==1.0.2
itsdangerous==0.24
pyyaml==3.12  # from xivo-lib-python
requests==2.21.0
stevedore==1.17.1
