Source: wazo-ui
Section: python
Priority: optional
Maintainer: Wazo Maintainers <dev+pkg@wazo.community>
Build-Depends: debhelper (>= 12), dh-python, python3-all, python3-setuptools, python3-babel
Standards-Version: 3.9.6
X-Python3-Version: >= 3.9

Package: wazo-ui
Architecture: all
Depends: ${python3:Depends},
         ${misc:Depends},
         adduser,
         libsqlite3-0,
         python3-cheroot,
         python3-flask,
         python3-flask-babel,
         python3-flask-classful,
         python3-flask-login,
         python3-flask-menu,
         python3-flask-session,
         python3-flask-sqlalchemy,
         python3-flaskext.wtf,
         python3-stevedore,
         python3-werkzeug,
         wazo-amid-client-python3,
         wazo-auth-client-python3,
         wazo-call-logd-client-python3,
         wazo-confd-client-python3,
         wazo-dird-client-python3,
         wazo-webhookd-client-python3,
         xivo-lib-python-python3,
         wazo-provd-client-python3,
         wazo-plugind-client-python3,
         xivo-certs
Description: Wazo UI is a configuration interface for the Wazo UC engine
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
