[Unit]
Description=wazo-ui
After=network.target
StartLimitBurst=15
StartLimitIntervalSec=150

[Service]
ExecStart=/usr/bin/wazo-ui
Restart=on-failure
RestartSec=5
SyslogIdentifier=wazo-ui

[Install]
WantedBy=multi-user.target
