  <meta charset="utf-8">
  <title>{{ _('Nestbox administration') }}</title>
  <meta name="description" content="{{ meta_description }}">
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/google-fonts-roboto.css') }}" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/google-fonts-sans-pro.css') }}" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/ionicons.min.css') }}" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="screen" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.min.css') }}" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/select2-bootstrap.min.css') }}" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/adminlte.min.css') }}" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skin-blue.min.css') }}" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/datatables.min.css') }}" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/wazo-ui.css') }}" type="text/css" />
