<script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-show-password.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-validator.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.slimscroll.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-ui-custom-sortable.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-confirmation.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/select2-adapter.js') }}"></script>
<script src="{{ url_for('static', filename='js/adminlte.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/wazo-ui.js') }}"></script>

{% from "translations.html" import datatable_language, bootstrap_validator_language %}
<script type="text/javascript">
  $.extend(true, $.fn.dataTable.defaults, {
      language: $.parseJSON({{ datatable_language()|tojson }})
  });
 //$.fn.validator.Constructor.DEFAULTS.errors = $.parseJSON({{ bootstrap_validator_language()|tojson }});
</script>
