{% macro build_menu(current_user, current_menu) %}
  {% if current_user.is_authenticated %}
    {{ _build_tenant_choices(current_user) }}
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar nav-child-indent flex-column" data-widget="treeview" role="menu">
      {% for item in current_menu.children recursive %}
        {% if item.visible %}
          {% if item.name == 'ipbx' %}
            {{ _build_chidren(item, true, current_user) }}
          {% else %}
            <li class="nav-item {{ 'menu-open' if item.has_active_child() }} {{ 'multi-tenant' if item.multi_tenant }}">
              {% if item.children %}
                {{ _build_menu_chidren(item, current_user) }}
              {% else %}
                {{ _build_menu_link(item, current_user) }}
              {% endif %}
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}
      </ul>
    </nav>
  {% endif %}
{% endmacro %}


{% macro _build_menu_chidren(item, current_user) %}
  {% if item.visible %}
    <li class="nav-item {{ 'menu-open' if item.has_active_child() }}">
      <a href="#" class="nav-link">
        <i class="fas fa-{{ item.icon if item.icon else 'windows' }} nav-icon"></i>
        <p>
          {{ item.text }}
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>
      {{ _build_chidren(item, false, current_user) }}
    </li>
  {% endif %}
{% endmacro %}

{% macro _build_ipbx_menu(item, current_user) %}
  {% set tenants = current_user.get_current_tenants() %}
  {% if tenants|length > 0 %}
    <form class="navbar-form navbar-left" id="working-tenant" action="{{ url_for('index.WorkingTenantView:set_working_tenant') }}">
      <div class="form-group">
        <select name="tenant_uuid" class="selectfield">
          {% for tenant in tenants %}
            {% set selected = 'selected' if session['working_tenant_uuid'] == tenant.uuid else '' %}
            <option value="{{ tenant.uuid }}" {{ selected }}>{{ tenant.name }}</option>
          {% endfor %}
        </select>
      </div>
    </form>
	{% if session['working_tenant_uuid'] == current_user.get_user_tenant_uuid() %}
	  <div class="alert alert-error alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	    <i>Don't use <strong>master</strong> tenant for configuration!</i>
          </div>
	{% endif %}
  {% endif %}

  {{ _build_chidren(item, true, current_user) }}
{% endmacro %}

{% macro _build_chidren(item, root, current_user) %}
    {% for i in item.children %}
      {% if root and i.children and i.text and i.name != 'global_settings' %}
        {{ _build_menu_chidren(i, current_user) }}
      {% elif i.name == 'global_settings' %}
        <li class="nav-item {{ 'multi-tenant' if i.multi_tenant }}">
          <a href="{{ i.url }}" class="nav-link {{ 'active' if i.active }}">
            <i class="fas fa-{{ i.icon if i.icon else 'circle' }} nav-icon"></i>
            {{ i.text }}
          </a>
        </li>
      {% elif i.visible %}
        <ul class="nav nav-treeview">
          <li class="nav-item {{ 'multi-tenant' if i.multi_tenant }}">
            <a href="{{ i.url }}" class="nav-link {{ 'active' if i.active }}">
              <i class="fas fa-{{ i.icon if i.icon else 'circle' }} nav-icon"></i>
              {{ i.text }}
            </a>
          </li>
        </ul>
      {% endif %}
    {% endfor %}
{% endmacro %}


{% macro _build_menu_link(item, current_user) %}
  <a href="{{ item.url }}" class="nav-link">
    <i class="fas fa-{{ item.icon if item.icon else 'windows' }} nav-icon"></i>
    <p>{{ item.text }}</p>
  </a>
{% endmacro %}


{% macro _build_tenant_choices(current_user) %}
  {% set tenants = current_user.get_current_tenants() %}
  {% if tenants|length > 0 %}
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="info">
        <form class="navbar-form" id="working-tenant" action="{{ url_for('index.WorkingTenantView:set_working_tenant') }}">
          <select name="tenant_uuid" class="form-control form-control-sidebar selectfield">
            {% for tenant in tenants %}
              {% set selected = 'selected' if session['working_tenant_uuid'] == tenant.uuid else '' %}
              <option value="{{ tenant.uuid }}" {{ selected }}>{{ tenant.name }}</option>
            {% endfor %}
          </select>
        </form>
        {% if session['working_tenant_uuid'] == current_user.get_user_tenant_uuid() %}
          <div class="info-box mb-1 bg-danger">
            <div class="info-box-content">
              <span class="info-box-text">
                <i>Don't use <strong>master</strong> tenant <br>for configuration!</i>
              </span>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endmacro %}


{% macro build_breadcrumb(name, description, icon, path) %}
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-12">
        <div class="col-sm-12">
          <h1 class="m-0 text-dark">
            <i class="fas fa-{{ icon }}"></i> {{ name }}
            {% if description %}
              <small>{{ description }}</small>
            {% endif %}
          </h1>
        </div>
        <div class="col-sm-6">
          {% if path %}
            <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <i class="fas fa-{{ icon }}"></i> {{ name }}
            </li>
            {% for link in path %}
              <li class="breadcrumb-item active">{{ link }}</li>
            {% endfor %}
            </ol>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endmacro %}


{% macro build_breadcrumbs(crumbs) %}
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-12">
        <div class="col-sm-12">
          <ol class="breadcrumb float-sm-right">
            {% for crumb in crumbs %}
              <li class="breadcrumb-item">
                {% if crumb.link %}<a href="{{ crumb.link }}">{% endif %}
                {% if crumb.icon %}<i class="fas fa-{{ crumb.icon }}"></i> {% endif %}
                &nbsp;{{ crumb.name }}
                {% if crumb.link %}</a>{% endif %}
              </li>
            {% endfor %}
          </ol>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}


{% macro build_section_row() %}
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        {{ caller() }}
      </div>
    </div>
  </section>
{% endmacro %}


{% macro build_form_tabs_box(title, subtitle, icon, box_class, without_tab=False, container_class='col-md-12') %}
  <div class="{{ container_class }}">
    <div class="{{ box_class }} {{ ' card card-primary' if not without_tab }} card-outline">
      {{ build_tabs_header(title, subtitle, icon) }}
      <div class="card-body">
        {{ caller() }}
      </div>
    </div>
  </div>
{% endmacro %}


{% macro build_form_box(title, subtitle, icon, box_class, container_class='col-md-12') %}
  {% set caller_ = caller %}
  {% call build_form_tabs_box(box_class, without_tab=True, container_class=container_class) %}
    {% call build_tabs_navigation() %}
      {{ add_tab_navigation_header(title, subtitle, icon) }}
    {% endcall %}
    {{ caller_() }}
  {% endcall %}
{% endmacro %}

{% macro build_tabs_header(title, subtitle, icon) %}
  <div class="card-header">
    <h3 class="card-title">
      <i class="fas fa-{{ icon }}"></i>
      {{ title }}
      <small>{{ subtitle }}</small>
    </h3>
  </div>
{% endmacro %}

{% macro build_tabs_navigation() %}
  <ul class="nav nav-tabs right" role="tablist">
    {{ caller() }}
  </ul>
{% endmacro %}


{% macro add_tab_navigation_item(id, name, active=False) %}
  <li class="nav-item"><a href="#{{ id }}" class="nav-link {{ 'active' if active }}" role="tab" data-toggle="tab">{{ name }}</a></li>
{% endmacro %}


{% macro add_tab_navigation_header(title, subtitle, icon) %}
  <li class="nav-header left"><i class="fas fa-{{ icon }}"></i> {{ title }}</li>
  <li class="nav-header left"><small>{{ subtitle }}</small></li>
{% endmacro %}


{% macro build_tabs_content() %}
  <div class="tab-content">
    {{ caller() }}
  </div>
{% endmacro %}


{% macro build_tab_content_item(id, active=False) %}
  <div class="{{ 'active' if active }} tab-pane" id="{{ id }}">
    <div class="row">
      <div class="col-md-12">
        {{ caller() }}
      </div>
    </div>
  </div>
{% endmacro %}


{% macro add_add_entry_button() %}
  <button class="btn btn-box-tool add-row-entry">
    <i class="fas fa-plus"></i>
  </button>
{% endmacro %}


{% macro add_delete_entry_button() %}
  <button class="btn btn-xs btn-danger delete-row-entry">
    <i class="fas fa-minus"></i>
  </button>
{% endmacro %}


{% macro build_add_row_entry_header() %}
  <div class="box-header">
    <div class="box-tools">
      {{ add_add_entry_button() }}
    </div>
  </div>
{% endmacro %}


{% macro build_form(method="post", action="", id="", class="", enctype="") %}
  <form id="{{ id }}" class="form-horizontal {{ class }}" method="{{ method }}" action="{{ action }}" {{ 'enctype=' ~ enctype if enctype }} data-toggle="validator">
    {{ caller() }}
  </form>
{% endmacro %}


{% macro add_default_fields(form, submit_value, delete_action=None) %}
  {% from "macro_render_field.html" import render_field %}
  <div class="box-body">
    {{ form.csrf_token }}
    {{ caller() }}
  </div>
  {% if submit_value or delete_action %}
    <div class="box-footer text-center">
      <div class="col-sm-5"></div>
      {{ render_field(form.submit, class_="btn btn-primary", value=submit_value, with_label=False, divclass='col-sm-1') }}
      {% if delete_action %}
      <div class="col-sm-1">
        <a href="{{ delete_action }}" class="btn btn-danger">Delete</a>
      </div>
      <div class="col-sm-5"></div>
      {% endif %}
    </div>
  {% endif %}
{% endmacro %}


{% macro build_list_containers(title, icon, size='12') %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-{{ size }}">
        <div class="box box-primary">
          <div class="box-body">
            {{ caller() }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}


{% macro build_table(id=None, data_list_url='', name=None, class_name='') %}
  <table {{ 'id=' ~ id if id }} class="table table-condensed table-striped table-bordered {{ class_name }}" {{ 'data-list-url=' ~ data_list_url if data_list_url }} {{ 'data-name=' ~ name if name }}>
    {{ caller() }}
  </table>
{% endmacro %}


{% macro build_list_table(name=None, list='', id=None) %}
  {% set caller_ = caller %}
  {% set class_name = 'client-side' %}
  {% set table_id = id or 'table-list' %}

  {# Used by wazo-ui-plugins #}
  {% if list %}
    {% set table_id = "table-list-serverside" %}
    {% set class_name = "server-side" %}
  {% endif %}

  {% call build_table(id=table_id, data_list_url=list, name=name, class_name=class_name) %}
    {{ caller_() }}
  {% endcall %}
{% endmacro %}


{% macro build_table_headers() %}
  <thead>
    <tr>
      {{ caller() }}
    </tr>
  </thead>
{% endmacro %}


{% macro build_list_table_headers(get='', delete='', add='', actions_column=true,  import='', export='', update='') %}
  <thead>
  {% if actions_column %}
    <tr
      class="table-data-tooltip"
      {% if add %}
      data-add-url="{{ add }}"
      data-add-tooltip="{{ _('Add') }}"
      {% endif %}
      {% if get %}
      data-get-url="{{ get }}"
      data-get-tooltip="{{ _('Edit') }}"
      {% endif %}
      {% if import %}
      data-import-url="{{ import }}"
      data-import-tooltip="{{ _('Import CSV') }}"
      {% endif %}
      {% if export %}
      data-export-url="{{ export }}"
      data-export-tooltip="{{ _('Export CSV') }}"
      {% endif %}
      {% if update %}
      data-update-url="{{ update }}"
      data-update-tooltip="{{ _('Update from CSV') }}"
      {% endif %}
      {% if delete %}
      data-delete-url="{{ delete }}"
      data-delete-tooltip="{{ _('Delete') }}"
      {% endif %}
    >
  {%  else %}
    <tr>
  {% endif %}
    {{ caller() }}
    </tr>
  </thead>
{% endmacro %}


{% macro build_table_body(class_='') %}
  <tbody class="{{ class_ }}">
    {{ caller() }}
  </tbody>
{% endmacro %}


{% macro build_list_table_rows(items, non_unique_id=false) %}
  {% set caller_ = caller %}
  {% call build_table_body() %}
    {% for item in items %}
      {% set editable = false if item.editable == False else true %}
      <tr{{ ' data-id=' ~ item.id if item.id }}{{ ' data-uuid=' ~ item.uuid if item.uuid }}{{ ' data-tenant-uuid=' ~ item.tenant_uuid if item.tenant_uuid }}{{ ' data-non-unique-id=' ~ non_unique_id if non_unique_id }}{{ ' data-get_url=' ~ item.get_url if item.get_url }} data-editable="{{ editable }}">
        {{ caller_(item) }}
      </tr>
    {% endfor %}
  {% endcall %}
{% endmacro %}


{% macro build_hidden_add_containers(title, name = 'view-add-form', class='') %}
    <div class="modal fade {{ class }}" id="{{ name }}" role="dialog" aria-labelledby="{{ name }}" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><i class="fas fa-close"></i></button>
            <h4 class="modal-title">{{ title }}</h4>
          </div>
          <div class="modal-body clearfix">{{ caller() }}</div>
        </div>
      </div>
    </div>
{% endmacro %}
