<div class="box-notifier">
  <div class="alert alert-error alert-dismissible hidden">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4><i class="icon fa fa-ban"></i> <span id="alert-title"></span></h4>
    <span id="alert-message"></span>
  </div>

  <div class="alert alert-info alert-dismissible hidden">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4><i class="icon fa fa-info"></i> <span id="alert-title"></span></h4>
    <span id="alert-message"></span>
  </div>

  <div class="alert alert-warning alert-dismissible hidden">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4><i class="icon fa fa-warning"></i> <span id="alert-title"></span></h4>
    <span id="alert-message"></span>
  </div>

  <div class="alert alert-success alert-dismissible hidden">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4><i class="icon fa fa-check"></i> <span id="alert-title"></span></h4>
    <span id="alert-message"></span>
  </div>
</div>
